<% provide(:title, 'Event Details') %>
<div class="center hero-unit">
<h1>Event Details</h1><br>
<h7>
Edgewater Fan on the Strand, Downtown Tauranga
<br>
Sunday 9 November 2014.
<br>
On the day entries are available - cash only
<br>
Registration 7.30-8.30am / Start 9am
<br>
Prize giving /Spot Prizes 1pm
</h7>
<br>
<small>
	<r>PLEASE NOTE: Suitable for mountain bikes and commuter bikes. Sorry not suitable for road bikes.</r>
</small>
<br>
<br>

<left2><center><r>
	One lucky early bird registration entrant could win a 10 week fitness pack <br><br><br>from <a><%= link_to "Care of Life Personal Fitness", "http://www.lifepersonalfitness.co.nz", :target =>"_blank"%></a> valued at $350!</r></center>
	
	<br>
	Enjoy a scenic ride around Taurangas great cycleways, explore the quiet parks and lovely waterways. Get out on your bikes this spring for a leisurely 25km (or 10km) bike ride. The <a><%= link_to"course", course_path %></a> is unique, safe, and guaranteed to be enjoyed, with great spot prizes to be won, all in support of the BOP Multiple Sclerosis Society.
    <br>
    <br>
	Please get your bikes checked at <a><%= link_to "Redbike Mt Maunganui", "http://www.redbike.net.nz/", :target =>"_blank"%></a> (this is free of charge) prior to the day to make sure your bike is in a safe working order. We are very fortunate to have some great sponsers and prizes so stay around after the ride to be in the draw for some fantastic spot pizes.
    <br>
    <br>
</left2>
<left1>
	<h7>
		A great big thanks to our kind supporters:
	</h7>
<br>
	Redbike Mt Maunganui - 
	<a><%= link_to"www.redbike.net.nz","http://www.redbike.net.nz", :target =>"_blank" %></a>
<br>
	The Weekend Sun - 
	<a><%= link_to"www.sunlive.co.nz","http://www.sunlive.co.nz/", :target =>"_blank" %></a>
<br>
	Bells and Whistles - <a>
	<%= link_to"www.bellsandwhistles.co.nz","http://www.bellsandwhistles.co.nz/", :target =>"_blank"%></a>
<br>
	Mazzola Hair Dressing
<br>
	Jetts Gymnasium - <%= link_to"www.jetts.co.nz", "http://www.jetts.co.nz", :target =>"_blank"%></a>
<br>
	Xerowaste Education
<br>
	Life Personnel Fitness
<br>
	Mac Pac Tauranga - <%= link_to"www.macpac.co.nz","http://www.macpac.co.nz", :target =>"_blank"%></a>
<br>
	Star Bucks - <%= link_to"www.starbucks.co.nz","http://www.starbucks.co.nz", :target =>"_blank"%></a>
<br>
	Velocity T Shirts - <%= link_to"www.velo-city.co.nz", "http://www.velo-city.co.nz/", :target =>"_blank"%></a>
<br>
	Lisa at Simply Beautiful - <%= link_to"www.simplybeautiful.co.nz", "http://www.simplybeautiful.co.nz", :target =>"_blank"%></a>
<br>
	Mills Reef - <%= link_to"www.millsreef.co.nz", "http://www.millsreef.co.nz", :target =>"_blank"%></a>
><br>
	Corner Stone 
<br>
	Sunrise Cafe
<br>
	The Dry Dock Cafe
<br>
	Tauranga City Council
<br>
	<h7>
		Please support these local businesses!
	</h7>
<br>
<br>
<br>
</left1>
